# -----------------------------------------------------
# |         Plot System Terra - by Alps BTE
# -----------------------------------------------------
# | [Github Repo] https://github.com/AlpsBTE/Plot-System-Terra
# | [Config Documentation] https://github.com/AlpsBTE/Plot-System-Terra/wiki
# | [Contacts - Discord] R3tuxn#7169, Coppertine#1718
# -----------------------------------------------------

# Keep updated about newer versions
check-for-updates: true

# Enables special dev tools and features for development
# NOTE: Do not change if you do not know what you are doing
dev-mode: false


# -----------------------------------------------------
# | Data Mode (API or Database)
# -----------------------------------------------------

# The data mode in which the plugin should run. Possible values: DATABASE, API
data-mode: API

# If the data mode is set to API, the plugin will use the PlotSystem API to get the plot data
# Documentation for the PlotSystem API: https://github.com/BuildTheEarth/PlotSystemAPI
api:
  api-url: nwapi.buildtheearth.net
  port: 8080
  api-key: ffffffff-ffff-ffff-ffff-ffffffffffff

# If the data mode is set to DATABASE, the plugin will use a database to get the plot data
# The database must be a MariaDB/MySQL database
database:
  db-url: jdbc:mariadb://adress:3306/
  dbname: plotsystem
  username: user
  password: password


# -----------------------------------------------------
# | Plot Scanning
# -----------------------------------------------------

# Additional to the scanned plot the environment around the plot is
# scanned to fill the area around the plot in the plot server
# [radius] -> in blocks around the plot; default: 50 blocks
environment:
  enabled: true
  radius: 50

# -----------------------------------------------------
# | Plot Pasting
# -----------------------------------------------------

# The name of the server registered in the database on the plot server
# Read more here: https://github.com/AlpsBTE/Plot-System-Terra/wiki
server-name: default

# The world name of the terra server in which the schematic should be pasted
world-name: world

# Use fast mode for WorldEdit when pasting plots
# Read more here: https://minecraft-worldedit.fandom.com/wiki///fast
fast-mode: true

# Interval in which completed plots that have not yet been placed are checked
# [interval] -> in seconds; default: 300 seconds (every 5 minutes)
pasting-interval: 300

# Send a server info message to all players informing them how many plots have been placed
broadcast-info: true


# -----------------------------------------------------
# | Formatting: Info/Error message outputs
# -----------------------------------------------------
message-prefix: §7§l>>
info-colour: §a
error-colour: §c


# NOTE: Do not change
config-version: 1.6